$black: #202020;
$blackTrans: rgba(32,32,32,0.1);
$darkergray: #404040;
$darkgray: #666666;
$gray: #909090;
$lightgray: #b0b0b0;
$lightergray: #d6d6d6;
$white: #f6f6f6;

$yellow: #f6f610;
$gold: #f6d710;
$orange: #f69720;
$lightpink: #f68fbf;
$pink: #f6208f;
$darkpink: #d6206f;
$red: #f62020;
$lightblue: #7696f6;
$blue: #2040f6;
$darkblue: #1020a6;
$lightgreen: #a6f696;
$green: #10f610;
$darkgreen: #10a610;
$lightpurple: #f67ff6;
$purple: #f610f6;
$darkpurple: #a610a6;
