// html.themeLight {
//     background: $white;
//     body {
//         color: $black;
//     }
//     .footer {
//         color: $gray;
//     }
// }

html {
    background: $black;
    body {
        color: $white;
    }
    img#logo,
    img#cres,
    img#clients,
    img#contact {
        filter: invert(1);
    }
    .content {
        color: $lightergray;
    }
    .footer {
        color: $lightgray;
    }
}