html.themeLight {
    background: $white;
    body {
        color: $black;
    }
    .footer {
        color: $gray;
    }
}

html.themeDark {
    background: $black;
    body {
        color: $white;
    }
    img#logo,
    img#cres {
        filter: invert(1);
    }
    .footer {
        color: $lightgray;
    }
}